@{
    ViewData["Title"] = "Area Hotels";
    ViewData["Message"] = "";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>HOTELS</p>

<li>The Plaza Hotel</li>
<li>Hampton Inn.</li>
<li>Holiday Inn.</li>
<li>Jefferson Street Inn.</li>
<li>Stoney Creek Hotel.</li>

<img src="~/images/hotel.jpg" />
<img src="~/images/hotel2.jpg" />