@{
    ViewData["Title"] = "Bird Watching";
    ViewData["Message"] = "";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>We can go bird watching.</p>

<li>Lots of birds to watch.</li>
<li>Local clubs around the area.</li>
<li>Guides to see rare birds.</li>
<li>Lots of river fronts to see unique wildlife.</li>
<li>Annual birds in art exhibit.</li>

<img src="~/images/metalBird.jpg" />
<img src="~/images/randomBird.jpg" />
