@{
    ViewData["Title"] = "Climb Rib Mountain";
    ViewData["Message"] = "";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Lets go climb Rib Mountain.</p>

<li>Great exercise.</li>
<li>Rib mountain tower for a great view.</li>
<li>Many trails to go hiking through in Rib Mountain.</li>
<li>A lot of rock formations.</li>
<li>The view is great in fall.</li>

<img src="~/images/Rib.jpg" />
<img src="~/images/rib2.jpg" />
