@{
    ViewData["Title"] = "Wausau - Home";
    ViewData["Message"] = "";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Hello again!</p>

<li>Great fishing area.</li>
<li>Small and hometown feel.</li>
<li>Many great places to go sightseeing.</li>
<li>Events all year round.</li>
<li>Scenic areas all around.</li>

<img src="~/images/wausauTower.jpg" />
<img src="~/images/snowDowntown.jpg" />
