@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Stardust Ln<br />
    Wausau, Wisconsin 54401<br />
    <abbr title="Phone">P:</abbr>
    715.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">jpho@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">jpho@example.com</a>
</address>
